*~
*.swp
.idea
.idea/*
*.iml
*.ipr
*.iws
target
.DS_Store
.project
.classpath
.settings
eclipse-classes
activemq-unit-tests/ActiveMQConnections.dot
activemq-unit-tests/KahaDB
activemq-unit-tests/broker
activemq-unit-tests/derby.log
activemq-unit-tests/derbyDb
activemq-unit-tests/LevelDB
activemq-unit-tests/networkedBroker
activemq-unit-tests/shared
activemq-data
activemq-leveldb-store/.cache
activemq-leveldb-store/.cache-main
activemq-leveldb-store/.cache-tests
activemq-leveldb-store/.tmpBin
activemq-runtime-config/src/main/resources/activemq.xsd
activemq-amqp/amqp-trace.txt
data/
dependency-reduced-pom.xml
velocity.log

/.metadata
