*~
*.swp
.idea
.idea/*
*.iml
*.ipr
*.iws
target
.DS_Store
.project
.classpath
.settings
eclipse-classes
activemq-core/ActiveMQConnections.dot
activemq-core/KahaDB
activemq-core/broker
activemq-core/derby.log
activemq-core/derbyDb
activemq-core/networkedBroker
activemq-core/shared
activemq-data
data/
