apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "activemq.fullname" . }}-config
  labels:
    {{- include "activemq.labels" . | nindent 4 }}
data:
  users.properties: |
    {{ .Values.auth.username }}={{ .Values.auth.password }}
  groups.properties: |
    admins={{ .Values.auth.username }}
  {{- if .Values.config.activemqXmlPath }}
  activemq.xml: |
{{ .Files.Get .Values.config.activemqXmlPath | indent 4 }}
  {{- end }}