<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" />
  
  
	<bean id="brokerService" class="org.apache.activemq.xbean.BrokerFactoryBean">
	  <property name="config" value="/WEB-INF/activemq.xml"/>
	</bean>

  <bean id="sessionPool" class="org.apache.activemq.web.SessionPool"/>
  
  <bean id="brokerQuery" class="org.apache.activemq.web.BrokerFacade" autowire='constructor'/>
  <bean id="queueBrowser" class="org.apache.activemq.web.QueueBrowseQuery" autowire='constructor' singleton="false"/>

</beans>
