replicaCount: 1

image:
  repository: apache/activemq-classic
  tag: "latest"
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

auth:
  username: admin
  password: changeme

config:
  activemqXmlPath: ""

service:
  type: ClusterIP
  port: 61616
  webConsolePort: 8161

persistence:
  enabled: false
  storageClass: ""
  accessMode: ReadWriteOnce
  size: 8Gi

resources:
  limits:
    cpu: 1000m
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 1Gi

nodeSelector: {}

tolerations: []

affinity: {}

podAnnotations: {}

livenessProbe:
  enabled: true
  initialDelaySeconds: 120
  periodSeconds: 30
  timeoutSeconds: 20
  failureThreshold: 6
  successThreshold: 1

readinessProbe:
  enabled: true
  initialDelaySeconds: 60
  periodSeconds: 30
  timeoutSeconds: 20
  failureThreshold: 3
  successThreshold: 1

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: activemq.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

tls:
  enabled: false
  keystoreSecret: "activemq-keystore"  # kubectl create secret generic activemq-keystore --from-file=broker.ks=<path>
  truststoreSecret: "activemq-truststore"  # kubectl create secret generic activemq-truststore --from-file=broker.ts=<path>
  sslPort: 61617
  webConsoleSslPort: 8162