/**************** body and tag styles ****************/
body {
   margin-top: 0px;
   margin-bottom: 30px;
}

div#page {
   width: 750px;
   margin: 0 auto;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   line-height: 1.6em;
   color: #666666;
   background-color: #FFFFFF;
   padding-bottom: 10px;
   border-bottom: 2px solid #2763A5;
}

div#content {
   width: 100%;
   margin: 0 auto;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #666666;
   background-color: #FFFFFF;
   padding-top: 10px;
}

div#header h1 {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   font-weight: normal;
   font-size: 32px;
   color: #003366;
   margin-bottom: 16px;
   background-color: #FFFFFF;
}

div#header p {
   margin-bottom: 20px;
}

div#main h1, div#main h2 {
   color: #666666;
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #FFFFFF;
   font-weight: bold;
}

div#main h3 {
   font-size: 14px;
}

a, a:visited {
   color: #003366;
   /*background-color: #FFFFFF; */
   text-decoration: none;
   font-weight: bold;
}

a:hover {
   /*background-color: #FFFFFF; */
   color: inherit;
   font-weight: bold;
   text-decoration: underline;
}

/**************** images styles ****************/
a img{
   border: none;
}

img.left,img.center,img.right {
   padding: 4px;
   border: 1px solid #a0a0a0;
}

img.left {
   float: left;
   margin: 0 12px 5px 0;
}

img.center {
   display: block;
   margin: 0 auto 5px auto;
}

img.right {
   float: right;
   margin: 0 0 5px 12px;
}

/**************** form styles ****************/
.button, button {
   padding: 2px;
   background-color: #003366;
   color: #FFFFFF;
   border: 1px solid #2763A5;
   font-size: 11px;
}

div#main form p {
    border-bottom: 0px;
    padding-bottom: 0px;
}

/**************** header styles ****************/
div#header {
   width: 750px;
   border: 0px;
   padding-bottom: 18px;
   padding-top: 16px;
}

div#header div#branding {
   display: none;
}

div#header p {
   margin-top: -20px;
   margin-left: 30px;
   color: #999999;
}

/**************** menu styles ****************/
div#nav {
   float: left;
   width: 750px;
   font-size: 93%;
   padding-bottom: 1px;
   border-bottom: 4px solid #2763A5;
   line-height: normal;
}

div#nav ul {
   margin: 0;
   padding: 0px 10px 0 48px;
   list-style: none;
}

div#nav li {
   display: inline;
   margin: 0;
   padding: 0;
}

div#nav a {
   float: left;
   background: url(../images/tableft10.gif) no-repeat left top;
   margin: 0;
   padding: 0 0 0 4px;
   text-decoration: none;
}

div#nav a span {
   float: left;
   display: block;
   background: url(../images/tabright10.gif) no-repeat right top;
   padding: 3px 15px 3px 6px;
   color: #FFF;
}

/**************** content styles ****************/
div#main {
   width: 520px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 10px;
   float: left;
}

div#main p {
   line-height: 1.6em;
   padding-bottom: 10px;
   border-bottom: 1px solid #DDDDDD;
}

/**************** sidebar styles ****************/
div#sub {
   width: 175px;
   padding-left: 10px;
   padding-right: 0px;
   padding-top: 10px;
   float: right;
}

div#sub h3 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   color: #666666;
   padding-bottom: 5px;
}

div#sub p {
   line-height: 1.5em;
   padding-bottom: 10px;
   border-bottom: 1px solid #DDDDDD;
}

/**************** footer styles ****************/
div#footer {
   margin-top: 15px;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 2px;
   padding-right: 5px;
   clear: both;
   width: 742px;
   background-color: #2763A5;
}

div#footer p {
   color: #FFFFFF;
   padding: 5px;
   text-align: center;
}

div#footer p a {
   color: #FFFFFF;
   font-weight: 100;
   border-bottom: 1px dotted #FFFFFF;
}

div#footer p {
   background-color: #2763A5;
}

div#footer p a:hover {
   color: #FFFFFF;
   text-decoration: none;
   border-top: 1px dotted #FFFFFF;
   border-bottom: 0px dotted #FFFFFF;
}
