PropertiesLogin {
    org.activemq.jaas.PropertiesLoginModule required
        debug=true
        org.activemq.jaas.properties.user="users.properties"
        org.activemq.jaas.properties.group="groups.properties";
};

LDAPLogin {
    org.activemq.jaas.LDAPLoginModule required
        debug=true
        initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
        connectionURL="ldap://localhost:9389"
        connectionUsername="uid=admin,ou=system"
        connectionPassword=secret
        connectionProtocol=s
        authentication=simple
        ;
};

