/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.         
 */
PropertiesLogin {
    org.apache.activemq.jaas.PropertiesLoginModule required
        debug=true
        org.apache.activemq.jaas.properties.user="users.properties"
        org.apache.activemq.jaas.properties.group="groups.properties";
};

PropertiesLoginReload {
    org.apache.activemq.jaas.PropertiesLoginModule required
        debug=true
        reload=true
        baseDir="target/loginReloadTest/"
        org.apache.activemq.jaas.properties.user="users.properties"
        org.apache.activemq.jaas.properties.group="groups.properties";
};

LDAPLogin {
    org.apache.activemq.jaas.LDAPLoginModule required
        debug=true
        initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
        connectionURL="ldap://localhost:1024"
        connectionUsername="uid=admin,ou=system"
        connectionPassword=secret
        connectionProtocol=s
        authentication=simple
        userBase="ou=system"
        userSearchMatching="(uid={0})"
        userSearchSubtree=false
        roleBase="ou=system"
        roleName=dummyRoleName
        roleSearchMatching="(uid={1})"
        roleSearchSubtree=false
        ;
};

EncryptedLDAPLogin {
    org.apache.activemq.jaas.EncryptableLDAPLoginModule required
        debug=true
        initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
        connectionURL="ldap://localhost:1024"
        connectionUsername="uid=admin,ou=system"
        connectionPassword="ENC(dZSxRJoRDuI58eYkWIuH4Q==)"
        connectionProtocol=s
        authentication=simple
        userBase="ou=system"
        userSearchMatching="(uid={0})"
        userSearchSubtree=false
        roleBase="ou=system"
        roleName=dummyRoleName
        roleSearchMatching="(uid={1})"
        roleSearchSubtree=false
        encryptionPassword="activemq"
        ;
};

UnAuthenticatedLDAPLogin {
    org.apache.activemq.jaas.LDAPLoginModule required
        debug=true
        initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
        connectionURL="ldap://localhost:1024"
        connectionUsername="uid=admin,ou=system"
        connectionPassword=""
        connectionProtocol=s
        authentication=simple
        userBase="ou=system"
        userSearchMatching="(uid={0})"
        userSearchSubtree=false
        roleBase="ou=system"
        roleName=dummyRoleName
        roleSearchMatching="(uid={1})"
        roleSearchSubtree=false
        ;
};

ExpandedLDAPLogin {
    org.apache.activemq.jaas.LDAPLoginModule required
        debug=true
        initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
        connectionURL="ldap://localhost:1024"
        connectionUsername="uid=admin,ou=system"
        connectionPassword=secret
        connectionProtocol=s
        authentication=simple
        userBase="ou=system"
        userSearchMatching="(uid={0})"
        userSearchSubtree=false
        roleBase="ou=system"
        roleName=cn
        roleSearchMatching="(uid={1})"
        roleSearchSubtree=false
               expandRoles=true
               expandRolesMatching="(member={0})"
        ;
};

GuestLogin {
    org.apache.activemq.jaas.GuestLoginModule required
        debug=true
        org.apache.activemq.jaas.guest.user="foo"
        org.apache.activemq.jaas.guest.group="bar";

};

GuestLoginWithDefaults {
    org.apache.activemq.jaas.GuestLoginModule required
        debug=true;
};

OpenLdapConfiguration {
  org.apache.activemq.jaas.LDAPLoginModule required
        debug=true
        initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
        connectionURL="ldap://localhost:389"
        connectionUsername="cn=mqbroker,ou=Services,ou=system,dc=fusesource,dc=com"
        connectionPassword="sunflower"
        connectionProtocol="s"
        topicSearchMatchingFormat="cn={0},ou=Topic,ou=Destination,ou=ActiveMQ,ou=system,dc=fusesource,dc=com"
        topicSearchSubtreeBool=true
        authentication=simple
        userBase="ou=User,ou=ActiveMQ,ou=system,dc=fusesource,dc=com"
        userSearchMatching="(uid={0})"
        userSearchSubtree=false
        roleSearchMatching="(uid={1})"
        queueSearchMatchingFormat="cn={0},ou=Queue,ou=Destination,ou=ActiveMQ,ou=system,dc=fusesource,dc=com"
        queueSearchSubtreeBool=true
        roleBase="ou=Group,ou=ActiveMQ,ou=system,dc=fusesource,dc=com"
        roleName=cn
        roleSearchMatching="(member:=uid={1})"
        roleSearchSubtree=true
        ;
};
